<!DOCTYPE html>
<html>
	<head>
		<title>Express 3.x Example for connect-flash</title>
	</head>
	<body>

<p>
<a href="/flash">Flash</a> | 
<a href="/no-flash">No Flash</a>
</p>

<% if (message) { %>
<p><%= message %></p>
<% } %>

	</body>
</html>
